* {
    margin: 0;
    padding: 0;
}

:root {
    --d: none;
}

span.mic {
    display: var(--d);
    font-family: iconfont0;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    margin: 0 0 0 auto;
}

span.icon {
    font-family: iconfont0;
    cursor: pointer;
    user-select: none;
    width: fit-content;
}

a.normal {
    color: black;
    text-decoration: underline;
    font-size: 1em;
}

.container {
    max-width: 650px;
    padding: 30px 0 20px 0;
    margin: 0 auto;
    background-color: #f6f6f6;
    min-height: 100vh;
    box-sizing: border-box;
}

.container>* {
    padding: 0 20px;
    margin: 10px 0;
}

.box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.lr {
    display: flex;
    justify-content: space-around;
}

.lr>* {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

span.des {
    font-size: .8em;
    color: gray;
    display: block;
    margin-bottom: 5px;
}

p.catabox {
    width: min(160px, 90%);
    word-break: break-all;
}